<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>大侦探</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<style>
.main
{
	width: 800px
	height:600px
	background-color:#eeeeee;
	float:center;
	padding:5px;
}
.menu
{
	width:200px;
	height:50px;
	float:center;
	background-color:#444444;
}
.button
{
	width:50px;
	height:10px;

}
</style>
</head>
<body>
    <div class="main" id="mycanvas">
    </div>
    <div class="menu" id="mymenu">
    	<button>reset</button>
    	<button>submit</button>
    </div>
</body>
</html>